.questions {
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-weight: 600;
  font-style: italic;
  font-size: 25px;
  margin-top: 40px;
}

.answer {
  font-size: 21px;
}

.answer:not(:last-of-type) {
  margin-bottom: 20px;
}
