.our-names {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F38367;
  font-size: 130px;
  display: flex;
  flex-direction: column;
  margin: 30px 0 40px;
}

.and {
  font-size: 40px;
}

.bottom-row-names .and {
  display: none;
}

.date {
  display: block;
  font-size: 30px;
}

.location {
  display: block;
  font-size: 15px;
}

#countdown {
  display: block;
  font-size: 35px;
  margin-top: 60px;
}

#cover-photo {
  object-fit: cover;
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  #cover-photo {
    width: 250px;
    height: 200px;
  }

  .our-names {
    font-size: 60px;
  }

  #countdown {
    font-size: 30px;
  }
}

@media (min-width: 501px) and (max-width: 650px) {
  .our-names {
    font-size: 80px;
  }

  #cover-photo {
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 651px) and (max-width: 850px) {
  .our-names {
    font-size: 100px;
  }
}

@media (min-width: 851px) {
  .main-content {
    display: flex;
    flex-direction: row;
  }

  .our-names {
    align-items: flex-start;
  }

  .text-content {
    padding: 0 0 0 60px;
  }

  .main-content {
    align-items: center;
    text-align: start;
  }

  .our-names {
    font-size: 65px;
    margin: 0 0 70px;
  }

  .bottom-row-names .and {
    display: inline;
  }

  .and {
    position: relative;
    top: -5px;
  }

  .vert-and {
    display: none;
  }

  #cover-photo {
    height: 600px;
    object-position: -260px;
  }

  #countdown {
    font-size: 20px;
    margin-top: 30px;
  }

  .date {
    font-size: 25px;
  }

  .location {
    font-size: 15px;
  }
}
