.button {
  margin-top: 70px;
}

.image {
  margin: 90px 0;
  width: 100%;
  max-height: 75vw;
  object-fit: cover;
  object-position: bottom;
  border-radius: 6%;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
}

@media (min-width: 501px) and (max-width: 850px) {
  .image {
    max-width: 85%;
  }
}

@media (min-width: 851px) and (max-width: 1150px) {
  .image {
    max-width: 70%;
  }
}

@media (min-width: 1151px) {
  .image {
    max-width: 50%;
  }
}
