:root {
  --text-color: #ADB78B;
  --squiggle-color: #B9C1E6;
  --title-color: #EA9999;
}

body {
  margin: 0;
  position: relative;
  background-color: #fcedc86e;
}

.title {
  display: block;
  font-size: 60px;
  color: var(--title-color);
  transform: rotate(-3deg);
  line-height: 1;
  margin-bottom: 20px;
}

#logo {
  width: 300px;
  height: 100px;
  object-fit: cover;
}

.sf-font {
  font-family: "Playpen Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: var(--text-color);
}

.cursive-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

.lba-font {
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
}

.page-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squiggle {
  --mask:
    radial-gradient(54.4px at calc(100% + 40.5px) 50%, #0000 calc(99% - 8px), #000 calc(101% - 8px) 99%, #0000 101%) calc(50% - 19px + .5px) calc(50% - 60px)/ 38px 120px repeat-y,
    radial-gradient(54.4px at -40.5px 50%, #0000 calc(99% - 8px), #000 calc(101% - 8px) 99%, #0000 101%) calc(50% + 19px) 50%/38px 120px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  position: absolute;
  top: 0;
  background-color: var(--squiggle-color);
  width: 50px;
  height: 100%;
  padding: 0 5%;
}

.header-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0 35px;
}

.header-links a {
  padding: 0 25px;
  flex: 1 1 0;
  min-width: 40px;
  text-align: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15% 60px;
  text-align: center;
}

.link {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--text-color);
}

.link:hover {
  color: #497E91;
}

.description {
  display: block;
  font-size: 22px;
  width: 75%;
}

.description:not(:last-of-type) {
  margin-bottom: 50px;
}

.attr {
  position: absolute;
  bottom: 8px;
  width: 100vw;
  text-align: center;
  font-size: 12px;
}

#fixed-bg-assets svg {
  position: fixed;
  opacity: 0.5;
  fill: var(--title-color);
  color: var(--title-color);
}

#fixed-bg-assets #heart {
  top: 20%;
  left: 20%;
  transform: rotate(-20deg);
  width: 35px;
}

#fixed-bg-assets #heart2 {
  top: 80%;
  right: 30%;
  width: 25px;
  transform: scaleX(-1);
}

#fixed-bg-assets #star {
  width: 30px;
  top: 40%;
  right: 20%;
}

#fixed-bg-assets #star2 {
  width: 30px;
  bottom: 15%;
  left: 13%;
}

#fixed-bg-assets #star3 {
  width: 30px;
  top: 55%;
  left: 30%;
}

#fixed-bg-assets #rings {
  width: 40px;
  top: 5%;
  right: 30%;
  transform: rotate(15deg);
}

@media (max-width: 500px) {
  .squiggle {
    width: 15px;
  }

  .header-links {
    margin: 0 0 40px;
    max-width: calc(100% - 50px);
  }

  #fixed-bg-assets #heart {
    width: 25px;
  }

  #fixed-bg-assets #rings {
    right: 15%;
  }
}
