.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: block;
  font-size: 60px;
  color: var(--title-color);
  transform: rotate(-3deg);
}

.description {
  display: block;
  font-size: 22px;
  width: 75%;
}

.description:not(:last-of-type) {
  margin-bottom: 50px;
}

.divider {
  width: 20%;
  height: 3px;
  background: var(--squiggle-color);
  border-radius: 5px;
  margin: 50px 0;
}

.points-of-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 70px;
}

.icon {
  width: 80px;
  height: 80px;
}

.label {
  margin: 10px 0 15px;
  font-size: 20px;
}

.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel .description:last-of-type {
  margin-bottom: 30px;
}

.name {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.address {
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 20px;
}

.button {
  background: var(--squiggle-color);
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  width: 200px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

#cc-discount {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--text-color);
}

#cc-discount:hover {
  color: #497E91;
}

#cc-discount-dialog {
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  border: 2px solid #C1E4E1;
}

::backdrop {
  opacity: .5;
  background: #000;
}

.dialog-text {
  display: block;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  text-align: start;
}

dialog button {
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .description {
    font-size: 20px;
    width: 100%;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .label {
    font-size: 15px;
  }

  .name {
    font-size: 30px;
  }

  .address {
    font-size: 18px;
  }

  .button {
    width: 150px;
    padding: 5px 0;
    font-size: 18px;
    border-radius: 6px;
  }
}
